<header class="ui basic very padded segment dream-header">
  {{ if isset .Site.Params "avatar" }}
  {{ if .Site.Params.linkColor }}
  a:not(.item, .ui.button) {
    color: {{ .Site.Params.linkColor }} !important;
  }
  {{ end }}
  {{ end }}

  <div class="content">
    <h1 class="ui medium header">
      {{- if .Site.Params.headerTitle -}}
        {{- .Site.Params.headerTitle -}}
      {{- else -}}
     
        Elija un disco para saber más 
      {{- end -}}
      <span class="sub header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeuhg_XfzhlE6jkvXrL5Fhltdl73tWoPsfr_6HVrP4WibpfBSKaDirxPJOmd2f7OGdEhs&usqp=CAU">

        {{- .Site.Params.motto | safeHTML -}}
      </span>
    </h1>

    {{ if .Site.Taxonomies.tags }}
    {{ $tags := slice }}
    {{ $first := slice }}
    {{ $rest := slice }}
    {{ range .Site.Taxonomies.tags }}
      {{ $tags = $tags | append (dict "title" .Page.Title "link" .Page.RelPermalink) }}
    {{ end }}
    {{ $sum := len $tags }}

    {{ $maxTags := .Site.Params.maxTags }}

    {{ if $maxTags }}

    {{ $first = first $maxTags $tags }}
    {{ $rest = last (sub $sum $maxTags) $tags }}

    <div class="tags-with-dropdown">
      <div class="ui accordion">
        <div class="title">
          <div class="ui horizontal list">
            <a class="item dropdown" href="#">
              <i class="chevron right icon dropdown-icon"></i>
            </a>
          </div>
          <div class="dream-tags">
          {{ range $tag := $first }}
          {{ $title := index $tag "title" }}
          {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
          </div>
        </div>
        <div class="content">
    {{ else }}
    {{ $rest = $tags }}
    {{ end }}
          <div class="dream-tags"{{ if $maxTags }} style="margin-left: 1.5rem;"{{ end}}>
          {{ range $tag := $rest }}
          {{ $title := index $tag "title" }}
          {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
          </div>
    {{ if $maxTags }}
        </div>
      </div>
    </div>
    {{ end }}

    {{ end }}
  </div>
</header>
